.content-container {
  max-width: 1240px;
  margin: 0 auto;
  height: 100%;
  padding: 24px;
}

.navigation-bar {
  position: sticky;
  display: flex;
  border: 1px solid #4287f5;
  background-color: #4287f5;
  justify-content: flex-end;
  margin-bottom: 24px;
  padding: 8px;
}

button {
  background-color: white;
}
