
.patient-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #4287f5;
}

mat-paginator {
  margin-top: 20px;
}

.add-patient-button {
  margin-bottom: 24px;
}
